Repository apache/rocketmq-clients, pull requests merged in 2022-12, with the labels that each got.

#296 C#: Divide example by the message & producer/consumer type
  csharp/examples/ProducerDelayMessageExample.cs
  csharp/examples/ProducerFifoMessageExample.cs
  csharp/examples/ProducerNormalMessageExample.cs
  csharp/examples/Program.cs
  csharp/examples/QuickStart.cs
  csharp/examples/SimpleConsumerExample.cs
  csharp/examples/examples.csproj
Labels: C#

#304 Disable keep alive for gRPC channel
  java/client/src/main/java/org/apache/rocketmq/client/java/rpc/RpcClientImpl.java
Labels: Java

#330 Typo fix
  golang/client_manager_test.go
  golang/client_test.go
  golang/producer_test.go
Labels: Golang
