Repository apache/rocketmq-clients, pull requests merged in 2022-07, with the labels that each got.

#37 Java: use delta prefered aggreagation temporality selector
  .asf.yaml
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/consumer/ReceiveMessageResult.java
  java/client/src/main/java/org/apache/rocketmq/client/java/metrics/MessageMeter.java
  java/client/src/main/java/org/apache/rocketmq/client/java/metrics/MetricMessageInterceptor.java
  java/pom.xml
Labels: area/java, area/observability

#40 Java: adapt to the latest protocol
  java/client-shade/src/main/resources/rocketmq.logback.xml
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/TelemetrySession.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/producer/ProducerImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/producer/ProducerSettings.java
  java/client/src/main/java/org/apache/rocketmq/client/java/message/PublishingMessageImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/route/Endpoints.java
  java/client/src/main/resources/logback.xml
  java/client/src/test/java/org/apache/rocketmq/client/java/route/EndpointsTest.java
Labels: area/java

#42 Java: refactor MessageMeter
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/ClientImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/consumer/PushConsumerImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/metrics/MessageMeter.java
  java/client/src/main/java/org/apache/rocketmq/client/java/metrics/MessageMeterProvider.java
  java/client/src/main/java/org/apache/rocketmq/client/java/metrics/Metric.java
  java/client/src/main/java/org/apache/rocketmq/client/java/metrics/MetricMessageInterceptor.java
Labels: area/java, area/observability

#43 Adapt to the latest status code
  .github/workflows/cpp_build.yml
  .github/workflows/csharp_build.yml
  .github/workflows/golang_build.yml
  .github/workflows/java_build.yml
  java/client-shade/src/main/resources/rocketmq.logback.xml
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/ClientImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/consumer/ConsumerImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/consumer/PushConsumerBuilderImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/consumer/PushConsumerImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/consumer/ReceiveMessageResult.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/consumer/SimpleConsumerBuilderImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/consumer/SimpleConsumerImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/producer/SendReceiptImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/message/MessageBuilderImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/metrics/ClientMeter.java
  java/client/src/main/java/org/apache/rocketmq/client/java/metrics/ClientMeterProvider.java
  java/client/src/main/java/org/apache/rocketmq/client/java/metrics/MessageMeterInterceptor.java
  java/client/src/main/resources/logback.xml
  java/client/src/test/java/org/apache/rocketmq/client/java/impl/consumer/PushConsumerBuilderImplTest.java
  java/client/src/test/java/org/apache/rocketmq/client/java/impl/consumer/SimpleConsumerBuilderTest.java
  java/client/src/test/java/org/apache/rocketmq/client/java/impl/producer/ProducerBuilderImplTest.java
  java/client/src/test/java/org/apache/rocketmq/client/java/message/MessageImplTest.java
Labels: area/java

#46 Only trigger GitHub Action on master branch
  .github/workflows/cpp_build.yml
  .github/workflows/csharp_build.yml
  .github/workflows/golang_build.yml
  .github/workflows/java_build.yml
Labels: area/infra

#45 Carding structure
  golang/broker.go
  golang/broker_options.go
  golang/client.go
  golang/client_manager.go
  golang/client_options.go
  golang/config.go
  golang/conn.go
  golang/consumer.go
  golang/example/consumer/main.go
  golang/example/producer/main.go
  golang/go.mod
  golang/go.sum
  golang/message.go
  golang/metadata/metadata.go
  golang/ns.go
  golang/producer.go
  golang/producer_options.go
  golang/protocol/v1/admin.pb.go
  golang/protocol/v1/definition.pb.go
  golang/protocol/v1/service.pb.go
  golang/protocol/v2/admin.pb.go
  golang/protocol/v2/admin_grpc.pb.go
  golang/protocol/v2/definition.pb.go
  golang/protocol/v2/service.pb.go
  golang/protocol/v2/service_grpc.pb.go
  golang/publishing_loadBalancer.go
  golang/publishing_message.go
  golang/rpc_client.go
  golang/rpc_client_options.go
  golang/utils/utils.go
Labels: area/golang

#55 Java: use independent clientManager for each client
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/ClientImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/ClientManager.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/ClientManagerImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/ClientManagerRegistry.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/consumer/ConsumerImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/consumer/ProcessQueueImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/consumer/PushConsumerImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/consumer/SimpleConsumerImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/producer/ProducerImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/producer/ProducerSettings.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/producer/SendReceiptImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/route/TopicRouteDataResult.java
  java/client/src/main/java/org/apache/rocketmq/client/java/rpc/Context.java
  java/client/src/main/java/org/apache/rocketmq/client/java/rpc/RpcClient.java
  java/client/src/main/java/org/apache/rocketmq/client/java/rpc/RpcClientImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/rpc/RpcInvocation.java
  java/client/src/test/java/org/apache/rocketmq/client/java/impl/ClientManagerImplTest.java
  java/client/src/test/java/org/apache/rocketmq/client/java/impl/consumer/ProcessQueueImplTest.java
  java/client/src/test/java/org/apache/rocketmq/client/java/impl/consumer/PushConsumerImplTest.java
  java/client/src/test/java/org/apache/rocketmq/client/java/impl/consumer/SimpleConsumerImplTest.java
  java/client/src/test/java/org/apache/rocketmq/client/java/impl/producer/ProducerImplTest.java
  java/client/src/test/java/org/apache/rocketmq/client/java/tool/TestBase.java
  java/pom.xml
Labels: area/java

#80 Trigger license checker on pull request
  .github/workflows/license-checker.yaml
Labels: area/infra

#88 Polish the java example
  java/client/src/main/java/org/apache/rocketmq/client/java/example/AsyncProducerExample.java
  java/client/src/main/java/org/apache/rocketmq/client/java/example/AsyncSimpleConsumerExample.java
  java/client/src/main/java/org/apache/rocketmq/client/java/example/ProducerDelayMessageExample.java
  java/client/src/main/java/org/apache/rocketmq/client/java/example/ProducerFifoMessageExample.java
  java/client/src/main/java/org/apache/rocketmq/client/java/example/ProducerNormalMessageExample.java
  java/client/src/main/java/org/apache/rocketmq/client/java/example/ProducerTransactionMessageExample.java
  java/client/src/main/java/org/apache/rocketmq/client/java/example/PushConsumerExample.java
  java/client/src/main/java/org/apache/rocketmq/client/java/example/SimpleConsumerExample.java
Labels: area/java

#86 Remove TopicRouteDataResult
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/ClientImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/ClientSessionImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/consumer/ProcessQueueImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/consumer/PushConsumerImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/consumer/SimpleConsumerImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/consumer/SubscriptionLoadBalancer.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/producer/ClientSessionHandler.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/producer/ProducerImpl.java
  java/client/src/main/java/org/apache/rocketmq/client/java/impl/producer/PublishingLoadBalancer.java
  java/client/src/main/java/org/apache/rocketmq/client/java/route/TopicRouteDataResult.java
Labels: area/java

#97 Refine throttle handling
  cpp/source/client/ReceiveMessageStreamReader.cpp
  cpp/source/rocketmq/ClientImpl.cpp
  cpp/source/rocketmq/ProcessQueueImpl.cpp
  cpp/source/rocketmq/PushConsumerImpl.cpp
  cpp/source/rocketmq/SendContext.cpp
  cpp/source/rocketmq/SimpleConsumerImpl.cpp
  cpp/source/rocketmq/include/ClientImpl.h
  cpp/source/rocketmq/include/PushConsumerImpl.h
Labels: C++
